<div class="info_l" id="temp_l">
    <div class="left_ul">
      <ul class="ul">{% if page.category == 'people' %}
        <li class="{% if page.type == '教师' %}this{% endif %}"><a title="教师" href="{{ site.url }}/teacher/">教师</a></li>
        <li class="{% if page.type == '职工' %}this{% endif %}"><a title="职工" href="{{ site.url }}/staff/">职工</a></li>
        <li class="{% if page.type == '博士生' %}this{% endif %}"><a title="博士生" href="{{ site.url }}/doctor/">博士生</a></li>
        <li class="{% if page.type == '硕士生' %}this{% endif %}"><a title="硕士生" href="{{ site.url }}/master/">硕士生</a></li>
        <li class="{% if page.type == '毕业生' %}this{% endif %}"><a title="毕业生" href="{{ site.url }}/graduate/">毕业生</a></li>{% endif %}{% if page.category == 'research' %}
        <li class="{% if page.type == '植物转录调控' %}this{% endif %}"><a title="植物转录调控" href="{{ site.url }}/module-climbing/">植物转录调控</a></li>
        <li class="{% if page.type == '大豆落花落荚' %}this{% endif %}"><a title="大豆落花落荚" href="{{ site.url }}/soft-robotics/">大豆落花落荚</a></li>
        <li class="{% if page.type == '大豆重要农艺性状解析' %}this{% endif %}"><a title="大豆重要农艺性状解析" href="{{ site.url }}/intelligent-industry/">大豆重要农艺性状解析</a></li>{% endif %}{% if page.category == 'publications' %}
        <li class="{% if page.type == '2025年' %}this{% endif %}"><a title="2025年" href="{{ site.url }}/2015/">2025年</a></li>
        <li class="{% if page.type == '2024年' %}this{% endif %}"><a title="2024年" href="{{ site.url }}/2015/">2024年</a></li>
        <li class="{% if page.type == '2023年' %}this{% endif %}"><a title="2023年" href="{{ site.url }}/2023/">2023年</a></li>
        <li class="{% if page.type == '2022年' %}this{% endif %}"><a title="2022年" href="{{ site.url }}/2022/">2022年</a></li>
        <li class="{% if page.type == '2021年' %}this{% endif %}"><a title="2021年" href="{{ site.url }}/2021/">2021年</a></li>
        <li class="{% if page.type == '2020年' %}this{% endif %}"><a title="2020年" href="{{ site.url }}/2020/">2020年</a></li>
        <li class="{% if page.type == '2019年' %}this{% endif %}"><a title="2019年" href="{{ site.url }}/2019/">2019年</a></li>
        <li class="{% if page.type == '2018年' %}this{% endif %}"><a title="2018年" href="{{ site.url }}/2018/">2018年</a></li>
        <li class="{% if page.type == '2018年之前' %}this{% endif %}"><a title="2018年之前" href="{{ site.url }}/before-2018/">2018年之前</a></li>{% endif %}{% if page.category == 'join' %}
        <li class="{% if page.type == '博士后招聘' %}this{% endif %}"><a title="博士后招聘" href="{{ site.url }}/recruit/">博士后招聘</a></li>
        <li class="{% if page.type == '招生' %}this{% endif %}"><a title="招生" href="{{ site.url }}/recruit-students/">招生</a></li>{% endif %}{% if page.category == 'shared' %}
        <li class="{% if page.type == 'BzRos' %}this{% endif %}"><a title="BzRos" href="{{ site.url }}/bzros/">BzRos</a></li>{% endif %}{% if page.category == 'lab-news' %}
        <li class="{% if page.type == '学习交流' %}this{% endif %}"><a title="学习交流" href="{{ site.url }}/learning-exchange/">学习交流</a></li>
        <li class="{% if page.type == '文娱活动' %}this{% endif %}"><a title="文娱活动" href="{{ site.url }}/entertainment/">文娱活动</a></li>{% endif %}{% if page.category == 'contact' %}
        <li class="{% if page.type == '联系我们' %}this{% endif %}"><a title="联系方式" href="{{ site.url }}/contact/">联系我们</a></li>{% endif %}
      </ul>
    </div>
  </div>
