---
layout: pages
permalink: /research/
category: research
category-en: Research
category-cn: 研究方向
type: 研究方向
title: 研究方向
keywords: 研究方向
description: 研究方向
---
<div class="n_list">
  <div class="n_list_c">
    <div class="n_right_bottom">
      <!-- 仿生软体 -->
      <h1>仿生软体</h1>
      {% for post in site.categories["soft-robotics"] %}
      <div style="margin-top:30px"></div>
      <h2 align="center"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
      <br>
      <p align="center"><a href="{{ site.url }}{{ post.url }}"><img src="/images/{{ post.type-en }}/{{ post.image }}.jpg"></a></p>
      <br>
      <p style="text-indent:2em"><a href="{{ site.url }}{{ post.url }}">{{ post.description }}</a></p>
      <div style="margin-top:30px"></div>
      <hr>
      {% endfor %}

      <!-- 模块攀爬 -->
      <div style="margin-top:50px"></div>
      <h1>模块攀爬</h1>
      {% for post in site.categories["module-climbing"] %}
      <div style="margin-top:30px"></div>
      <h2 align="center"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
      <br>
      <p align="center"><a href="{{ site.url }}{{ post.url }}"><img src="/images/{{ post.type-en }}/{{ post.image }}.jpg"></a></p>
      <br>
      <p style="text-indent:2em"><a href="{{ site.url }}{{ post.url }}">{{ post.description }}</a></p>
      <div style="margin-top:30px"></div>
      <hr>
      {% endfor %}

      <!-- 共融操作 -->
      <div style="margin-top:50px"></div>
      <h1>共融操作</h1>
      {% for post in site.categories["human-robotics"] %}
      <div style="margin-top:30px"></div>
      <h2 align="center"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
      <br>
      <p align="center"><a href="{{ site.url }}{{ post.url }}"><img src="/images/{{ post.type-en }}/{{ post.image }}.jpg"></a></p>
      <br>
      <p style="text-indent:2em">{{ post.description }}</p>
      <div style="margin-top:30px"></div>
      <hr>
      {% endfor %}

      <!-- 已删除 SLAM 和 智能工业 部分 -->
    </div>
  </div>
</div>
