---
layout: default
---
<div class="temp_img">
  <div class="info_top">
    <div class="name">
      <h2>{{ page.category-cn }}</h2>
      <p>{{ page.category-en }}</p>
    </div>
    <div class="left">
      <p><span>您的位置：&nbsp;</span><a href="{{ site.url }}"><span>首页</span></a><span>&nbsp;&gt;&gt;&nbsp;<a href="{{ site.url }}/{{ page.type-en }}/">{{ page.type }}</a></span><span>&nbsp;&gt;&gt;&nbsp;{{ page.title }}</span></p>
      <div class="more">+</div>
    </div>
  </div>
</div>
<div class="info_box">
   {% include page-nav.html %}
  <div class="info_r" id="temp_r">
    {{ content }}
  </div>
  <div class="height40"></div>
</div>